Hey,

nice to see you there. Let us skip the chit-chat.
To verify your account, please press this link:

{{ verification_url }}

You did not request to sign up?
Well in that case just ignore this mail.
Someone else tried to create an account using your email,
but no worries, we'll ignore them as long as you don't press
that link :)
